{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Iniciar Sesión
                </div>
                <div class="card-body">
                    <h2>Iniciar Sesión</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="{{ form.submit.class }}">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
