{% extends 'base.html' %}

{% block title %}Lista de Asignaturas{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h2>Lista de Asignaturas</h2>
        </div>
        <div class="card-body">
          <div class="text-center mb-3">
            <a class=" btn" href="{% url 'home' %}">Volver al inicio</a>
            <a href="{% url 'nueva_asignatura' %}" class="btn ">Añadir Asignatura</a>
          </div>
          <div class="list-group">
            {% for asignatura in asignaturas %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ asignatura.nombre }}</h5>
                <div>
                  <a href="{% url 'editar_asignatura' asignatura.id %}" class="btn btn-sm">Editar</a>
                  <a href="{% url 'detalle_asignatura' asignatura.id %}" class="btn  btn-sm">Detalles</a>

                </div>
              </div>
              <p class="mb-1">{{ asignatura.descripcion }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
